.grid {
    min-height: calc(100vh - 60px); 
    background-color: #ced4e8;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
    padding: 1rem 2rem;
}

@media screen and (max-width:699px) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
    }
}